@model Assignment9.Models.tblDepartment

@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<div class="container">
    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalEmployee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalEmployee)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Cancel", "Index", "Departments", new { @class = "btn btn-info" })
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
</div>